{% extends 'TeamHbase.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6 offset-3">
        <h2 class="alert alert-info ">Update Task</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <a href="{% url 'tasklist' %}" ><input type="submit" class="btn btn-success" value="update"></a>
            <a href = "{% url 'tasklist' %}" class="btn btn-danger">Cancel</a>
        </form>
    </div>

</div>


{% endblock content %}